{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": { "version": 3 },
        "shippedProposals": true
      }
    ],
    "@babel/preset-typescript"
  ],
  "ignore": ["**/*.d.ts"],
  "overrides": [
    {
      "exclude": ["**/*.d.ts"]
    }
  ]
}
